doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,height=device-height,initial-scale=1')
    title 로그인 성공 페이지
  body
    h1 로그인 성공(View - Jade)
    div 사용자 아이디: #{userId}
    div 사용자 이름: #{userName}
    br
    br
    a(href='/public1/login.html') 다시 로그인