doctype html

html
  head
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1")
    title "성공"
  body
    block content
      #container
        p "조회에 성공했습니다."
  