// scss는 변수를 만들 수 있음

//변수
$red:red;
$green:green;
$blue:blue;
$pink:pink;
$tomato:tomato;
$skyblue:skyblue;

//함수도 만들 수 있음
@mixin myMixin($size) {
    $width:100px;

    //코딩 자리
    @if $size % 2 == 0 {
        $width : $width + 50;
    }@else if $size % 3 == 0 {
        $width : $width + 100;
    }@else {
        $width : $width;
    }

    width:$width; //위의 width의 값(100px)이 여기로 들어온다.
    height:50px * 2;
}

.wrap {
    margin: 30px; display: flex;
    .box {
        &.red{background: $red; @include myMixin(1)} //위의 변수의 값을 불러오는 방법
        &.green{background: $green; @include myMixin(2)}
        &.blue{background: $blue; @include myMixin(3)}
        &.pink{background: $pink; @include myMixin(4)}
        &.tomato{background: $tomato; @include myMixin(5)}
        &.skyblue{background: $skyblue; @include myMixin(6)}
    }
}
